* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Arial, sans-serif;
}
