.dropdown
  width 100%
  position relative
  margin 16px 0
  outline none
  &.disabled
    pointer-events none

.dropdown_header
  position relative
  background-color #eeeeee
  padding 16px 8px 16px 16px
  border-radius 4px
  cursor pointer
  line-height 20px
  display flex
  flex-direction row
  justify-content space-between
  border 1px solid transparent
  text-overflow ellipsis
  transition
    background-color .5s ease
    box-shadow .3s ease
    border-color .3s ease
  .dropdown_placeholder
    color #aaaaaa
  &.invalid
    background-color #fae5e8
    .dropdown_placeholder
      color #df2d37
  &.open
    box-shadow -2px 6px 8px 0 rgba(0,0,0,.1)
    background-color #fff
    border-color #c5c5c5
  &.invalid.open
    background-color #fae5e8

.dropdown_arrow
  margin 4px
  vertical-align middle
  height 10px
  width auto
  transition transform 0.2s ease

.dropdown_arrow.open
  transform: rotateZ(180deg)

.dropdown_list
  z-index 1
  position absolute
  left 0
  right 0
  list-style-type none
  padding 0
  margin 0 0
  border-radius 4px
  box-shadow -2px 4px 16px 0 rgba(0, 0, 0, .1)
  li
    padding 12px
    background-color #ffffff
    transition background-color .2s ease
    cursor pointer
    &:hover
      background-color #ccc
