<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=420, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#ffffff">
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>