.application_form {
  width: 430px;
  margin: 24px 0;
  padding: 16px 24px;
  min-height: 128px;
}
.application_form h3 {
  margin-bottom: 32px;
}
.application_form .logo_container {
  margin-bottom: 16px;
}
.application_form .city_description {
  padding: 0 16px;
  font-size: 13px;
}
.application_form .city_description .phones a:not(:last-child)::after {
  content: ", ";
}
.application_form .city_description a {
  text-decoration: none;
}
.application_form .city_description a:hover {
  text-decoration: underline;
}
.application_form .datetime {
  display: flex;
  flex-direction: row;
  margin-bottom: -10px;
}
.application_form .datetime> :first-child {
  margin-right: 16px;
}
.application_form .validation_error {
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 10pt;
  color: #f00;
}
.application_form .agreement_holder {
  font-size: 10pt;
  color: #9c9c9c;
}
.application_form .agreement_holder p {
  text-align: justify;
}
.application_form .agreement_holder a {
  text-decoration: none;
}
.application_form .agreement_holder a:hover {
  text-decoration: underline;
}
.application_form .input {
  display: flex;
  flex-direction: row;
}
.application_form .input input[type=text] {
  margin-bottom: 16px;
  background-color: #eee;
  padding: 16px;
  border-radius: 3px;
  line-height: 20px;
  outline: none;
  flex-grow: 1;
  font-size: 17px;
  border: 1px solid transparent;
}
.application_form .input input[type=text] transition {
  background-color: 0.5s ease;
  box-shadow: 0.3s ease;
  border-color: 0.3s ease;
}
.application_form .input input[type=text].invalid {
  color: #df2d37;
  background-color: #fae5e8 !important;
}
.application_form .input input[type=text]::placeholder {
  color: #aaa;
  font-size: 17px;
}
.application_form .input input[type=text].invalid::placeholder {
  color: #df2d37;
  background-color: #fae5e8;
}
.application_form .input input[type=text]:focus {
  color: #000;
  outline: none;
  background-color: #fff;
  border-color: #c5c5c5;
  box-sizing: content-box;
  box-shadow: -2px 6px 8px 0 rgba(0,0,0,0.1);
}
.application_form .button_holder {
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: center;
}
.application_form button {
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: 600;
  padding: 16px 24px;
  border-radius: 52px;
  background: #db001b;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 3px 12px 0 rgba(110,0,22,0.5);
}
.application_form button:hover {
  box-shadow: 0 5px 12px 0 rgba(110,0,22,0.5);
}
.application_form button:focus {
  outline: none;
}
.application_form button:disabled {
  background: #c1c1c1;
  box-shadow: none;
}
.application_form .loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #db001b;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 40px;
}
.application_form .logo.invisible,
.application_form .loader.invisible {
  display: none;
}
@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
