.application_form
  width 430px
  margin 24px 0
  padding 16px 24px
  min-height 128px
  h3
    margin-bottom 32px
  .logo_container
    margin-bottom 16px
  .city_description
    padding 0 16px
    font-size 13px
    .phones a:not(:last-child)::after
      content ", "
    a
      text-decoration none
      &:hover
        text-decoration underline
  .datetime
    display flex
    flex-direction row
    margin-bottom -10px
    &> :first-child
      margin-right 16px
  .validation_error
    margin-top -10px
    margin-bottom 10px
    font-size 10pt
    color red
  .agreement_holder
    font-size 10pt
    color #9c9c9c
    p
      text-align justify
    a
      text-decoration none
      &:hover
        text-decoration underline
  .input
    display flex
    flex-direction row

    input[type=text]
      margin-bottom 16px
      background-color #eeeeee
      padding 16px
      border-radius 3px
      line-height 20px
      outline none
      transition
        background-color .5s ease
        box-shadow .3s ease
        border-color .3s ease
      flex-grow 1
      font-size 17px
      border 1px solid transparent
      &.invalid
        color #df2d37
        background-color #fae5e8!important
    input[type=text]::placeholder
      color #aaaaaa
      font-size 17px
    input[type=text].invalid::placeholder
      color #df2d37
      background-color #fae5e8
    input[type=text]:focus
      color #000
      outline none
      background-color #ffffff
      border-color #c5c5c5
      box-sizing content-box
      box-shadow -2px 6px 8px 0 rgba(0,0,0,.1)      
  .button_holder
    margin-top 16px
    margin-bottom 32px
    text-align center
  button
    color #ffffff
    border none
    font-size 17px
    font-weight 600
    padding 16px 24px
    border-radius 52px
    background #db001b
    transition box-shadow 0.3s ease
    box-shadow 0 3px 12px 0 rgba(110, 0, 22, 0.5)
    &:hover
      box-shadow 0 5px 12px 0 rgba(110, 0, 22, 0.5)
    &:focus
      outline none
    &:disabled
      background #c1c1c1
      box-shadow none
  .loader
    border 3px solid #f3f3f3
    border-top 3px solid #db001b
    border-radius 50%
    width 32px
    height 32px
    animation spin 1s linear infinite
    position absolute
    top 40px
  .logo.invisible, .loader.invisible
    display none

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}