.orders
    width 640px
    margin 24px 0
    padding 16px 24px
    min-height 128px
    table
        border-collapse collapse
        border-spacing 0
        width 100%
        border 1px solid #ddd
        font-size 10pt
        tr
            border-bottom 1px solid #ddd
            &:first-child
                color #000
                background-color #eeeeee
        th
            border none
            text-align left
            padding 12px
        td
            border none
            text-align left
            padding 12px
            font-size 10pt
        .remove
            color red
            cursor pointer
            &:hover
                text-decoration underline
        .phones p:not(:last-child)::after
            content ", "
    .no_orders, .loading
        text-align center
        padding 16px 0