.orders {
  width: 640px;
  margin: 24px 0;
  padding: 16px 24px;
  min-height: 128px;
}
.orders table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 10pt;
}
.orders table tr {
  border-bottom: 1px solid #ddd;
}
.orders table tr:first-child {
  color: #000;
  background-color: #eee;
}
.orders table th {
  border: none;
  text-align: left;
  padding: 12px;
}
.orders table td {
  border: none;
  text-align: left;
  padding: 12px;
  font-size: 10pt;
}
.orders table .remove {
  color: #f00;
  cursor: pointer;
}
.orders table .remove:hover {
  text-decoration: underline;
}
.orders table .phones p:not(:last-child)::after {
  content: ", ";
}
.orders .no_orders,
.orders .loading {
  text-align: center;
  padding: 16px 0;
}
